@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.page-container {
    display: flex;
    flex-direction: column;
    background-color: #F4F7FE;
    box-sizing: border-box;
    padding: 15px;
  }  
*{
    font-family: 'Poppins', sans-serif;
}
.hidePickerButtons .MuiDialogActions-root button {
    display: none;
  }

  .hidePickerButtons .MuiPickersToolbarText-root.Mui-selected {
    color: #1976d2; /* Set your desired color value here */
  }
  
  